{
  "extends": ["react-app", "prettier", "prettier/react"],
  "rules": {
    "no-unused-vars": "error",
    "prettier/prettier": [
      "error",
      {
        "singleQuote": true
      }
    ]
  },
  "plugins": ["prettier", "react"]
}
